<ion-header>
  <ion-toolbar>
    <ion-title>order-parking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ionic-calendar-date-picker ></ionic-calendar-date-picker>	 -->
  <!-- <mwl-calendar-month-view
  class=“calendar-comp”
  [viewDate]=“date”
  [weekStartsOn]=1
  (click)=“temp(date)”> -->

  <!-- <form (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>תאריך</ion-label> 
     <ion-input type="text" [(ngModel)]="" name="date"></ion-input> -->

     <!-- <ion-input type="datetime" [readonly]="true" formControlName="date" (click)="onDateClick($event)" tappable></ion-input> -->
     <!-- <ion-input type="datetime" placeholder="Choisir une date" formControlName="date" (click)="onDateClick($event)"></ion-input> -->

    <!-- </ion-item>
    <ion-item>
      <ion-label>שעת התחלה</ion-label>
      <ion-textarea [(ngModel)]="" name="start"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>שעת סיום</ion-label>
      <ion-textarea [(ngModel)]="" name="end"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" block>אישור</button>
  </form> -->
</ion-content>
